#!/usr/bin/make -f
export CARGO_TARGET_DIR = $(CURDIR)/target

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	# reef package
	install -Dm755 target/release/reef debian/reef/usr/bin/reef
	install -Dm644 fish/functions/export.fish debian/reef/usr/share/fish/vendor_functions.d/export.fish
	install -Dm644 fish/functions/unset.fish debian/reef/usr/share/fish/vendor_functions.d/unset.fish
	install -Dm644 fish/functions/declare.fish debian/reef/usr/share/fish/vendor_functions.d/declare.fish
	install -Dm644 fish/functions/local.fish debian/reef/usr/share/fish/vendor_functions.d/local.fish
	install -Dm644 fish/functions/readonly.fish debian/reef/usr/share/fish/vendor_functions.d/readonly.fish
	install -Dm644 fish/functions/shopt.fish debian/reef/usr/share/fish/vendor_functions.d/shopt.fish
	install -Dm644 fish/functions/fish_command_not_found.fish debian/reef/usr/share/fish/vendor_functions.d/fish_command_not_found.fish
	install -Dm644 fish/conf.d/reef.fish debian/reef/usr/share/fish/vendor_conf.d/reef.fish
	# reef-tools package
	install -Dm644 fish/functions/tools/grep.fish debian/reef-tools/usr/share/fish/vendor_functions.d/grep.fish
	install -Dm644 fish/functions/tools/find.fish debian/reef-tools/usr/share/fish/vendor_functions.d/find.fish
	install -Dm644 fish/functions/tools/sed.fish debian/reef-tools/usr/share/fish/vendor_functions.d/sed.fish
	install -Dm644 fish/functions/tools/du.fish debian/reef-tools/usr/share/fish/vendor_functions.d/du.fish
	install -Dm644 fish/functions/tools/ps.fish debian/reef-tools/usr/share/fish/vendor_functions.d/ps.fish
	install -Dm644 fish/functions/tools/ls.fish debian/reef-tools/usr/share/fish/vendor_functions.d/ls.fish
	install -Dm644 fish/functions/tools/cat.fish debian/reef-tools/usr/share/fish/vendor_functions.d/cat.fish
	install -Dm644 fish/conf.d/reef-tools.fish debian/reef-tools/usr/share/fish/vendor_conf.d/reef-tools.fish

override_dh_auto_test:
	cargo test --release --locked
